# Use either Mistral or Vercel API Key. Change api_key name retieved in lambda_function.py, and API endpoint and model in files using LLM
AI_GATEWAY_API_KEY=vck_xxxxxxxxx # Vercel AI Gateway API Key
MISTRAL_API_KEY=xxxxxxxxxx 

GOOGLE_CREDS={ "type": "service_account", "project_id": "xxxx", "private_key_id": "xxxxx", "private_key": "-----BEGIN PRIVATE KEY-----\nxxxxxxxxxxxxxxxxx-----END PRIVATE KEY-----\n", "client_email": "yyyyyy@xxxx.iam.gserviceaccount.com", "client_id": "xxxxxx", "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/yyyyyyyy%40xxxxxx.iam.gserviceaccount.com", "universe_domain": "googleapis.com" }
MAKE_TRIGGER_API_KEY=xxxxxxxxxx
OUTLOOK_CLIENT_ID=xxxxxx-xxxx-xxxx-xxxx-xxxxxx
OUTLOOK_CLIENT_SECRET=xxxxxxxxxx
OUTLOOK_REFRESH_TOKEN=xxxxxxxxxx